@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
    --font-overpass: "Overpass", sans-serif;
    --tracking-space: 4px;
    --text-size: 0.8rem;
}